@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select-component {

    .list-box-label {
      @apply block text-sm font-medium text-gray-700;
    }

    .list-box-button {
      @apply bg-white relative w-full border border-gray-300 focus:border-indigo-600 focus:ring-1 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;

      &.disabled {
        @apply bg-white border-gray-300 border-opacity-50 text-opacity-50;
      }

      &.error {
        @apply ring-red-500 border-red-500;
      }

    }

    .list-box-options {
      @apply absolute z-10 mt-1 w-full bg-white shadow-lg rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm;

      &.disabled {
        @apply bg-white border-gray-300 border-opacity-50 text-opacity-50;
      }

    }
  }
}
